---
layout: page
title: CI dashboard
permalink: /ci/
---

p
  | Here we try to list all our continuous integration pipelines along with some useful stats to get an overview of the subprojects.

| {% assign modules = "activitywatch,aw-core,aw-server,aw-server-rust,aw-client,aw-client-js,aw-qt,aw-webui,aw-watcher-afk,aw-watcher-window,aw-watcher-web,aw-watcher-input,aw-android,activitywatch.github.io,docs" | split: ',' %}
| {% assign ghactions_modules = "activitywatch,aw-core,aw-server,aw-server-rust,aw-qt,aw-android,aw-client,aw-client-js,aw-watcher-window,aw-watcher-afk,aw-watcher-web,aw-watcher-input,aw-webui,activitywatch.github.io,docs" | split: ',' %}
| {% assign codeclimate_modules = "aw-core,aw-server,aw-client,aw-client-js,aw-qt,aw-watcher-afk,aw-watcher-window,aw-webui,aw-watcher-web" | split: ',' %}
| {% assign codecov_modules = "aw-core,aw-server,aw-server-rust,aw-webui" | split: ',' %}

h2 Pipelines

table(class="table dense")
  tr
    th Module
    th GitHub Actions
    th Code Climate
    th Codecov

  | {% for module in modules %}
  tr
    td
      | {{ module }}

    td
      | {% if ghactions_modules contains module %}
      a(href="https://github.com/ActivityWatch/{{ module }}/actions" target="_blank")
        img(src="https://github.com/ActivityWatch/{{ module }}/workflows/Build/badge.svg")
      | {% endif %}

    td
      | {% if codeclimate_modules contains module %}
      a(href="https://codeclimate.com/github/ActivityWatch/{{module}}" target="_blank")
        img(src="https://codeclimate.com/github/ActivityWatch/{{module}}/badges/gpa.svg")
      | {% endif %}

    td
      | {% if codecov_modules contains module %}
      a(href="https://codecov.io/gh/ActivityWatch/{{module}}" target="_blank")
        img(src="https://codecov.io/gh/ActivityWatch/{{module}}/branch/master/graph/badge.svg")
      | {% endif %}

  tr
  | {% endfor %}


h2 Issues and PRs

table(class="table dense")
  tr
    th Module
    th Issues
    th PRs
    th LoC

  | {% for module in modules %}
  tr
    td
      | {{ module }}

    td
      a(href="https://github.com/ActivityWatch/{{module}}/issues")
        img(alt="Open issues" src="https://img.shields.io/github/issues/activitywatch/{{module}}.svg?style=flat-square")


    td
      a(href="https://github.com/ActivityWatch/{{module}}/pulls")
        img(alt="Open pull requests" src="https://img.shields.io/github/issues-pr/activitywatch/{{module}}.svg?style=flat-square")

    td
      a(href="#")
        img(alt="Lines of code" src="https://img.shields.io/tokei/lines/github/activitywatch/{{module}}.svg") 


  tr
  | {% endfor %}

h2 Packaging status

a(href="https://repology.org/project/activitywatch/versions")
  img(src="https://repology.org/badge/vertical-allrepos/activitywatch.svg" alt="Packaging status")
