---
layout: page
title: CI dashboard
permalink: /ci/
---

p
  | Here we try to list all our continuous integration pipelines along with some useful stats to get an overview of the subprojects.

| {% assign modules = "activitywatch,aw-core,aw-server,aw-server-rust,aw-client,aw-client-js,aw-qt,aw-webui,aw-watcher-afk,aw-watcher-window,aw-watcher-web,aw-android,activitywatch.github.io,docs" | split: ',' %}
| {% assign travis_modules = "activitywatch,aw-android" | split: ',' %}
| {% assign ghactions_modules = "activitywatch,aw-core,aw-server,aw-server-rust,aw-qt,aw-client,aw-client-js,aw-watcher-window,aw-watcher-afk,aw-watcher-web,aw-webui,activitywatch.github.io,docs" | split: ',' %}
| {% assign appveyor_modules = "activitywatch" | split: ',' %}
| {% assign codeclimate_modules = "aw-core,aw-server,aw-client,aw-client-js,aw-qt,aw-watcher-afk,aw-watcher-window,aw-webui,aw-watcher-web" | split: ',' %}
| {% assign codecov_modules = "aw-core,aw-server,aw-server-rust" | split: ',' %}

h2 Pipelines

table(class="table dense")
  tr
    th Module
    th GitHub Actions
    th Travis
    th Appveyor
    th Code Climate
    th Codecov

  | {% for module in modules %}
  tr
    td
      | {{ module }}

    td
      | {% if ghactions_modules contains module %}
      a(href="https://github.com/ActivityWatch/{{ module }}/actions")
        img(src="https://github.com/ActivityWatch/{{ module }}/workflows/Build/badge.svg")
      | {% endif %}

    td
      | {% if travis_modules contains module %}
      a(href="https://travis-ci.org/ActivityWatch/{{ module }}")
        img(src="https://travis-ci.org/ActivityWatch/{{ module }}.svg?branch=master")
      | {% endif %}

    td
      | {% if appveyor_modules contains module %}
      |   {% if module == "aw-core" %}
      |     {% assign appveyor_id = "h5cvxoghh1wr4ycr" %}
      |   {% else if module == "activitywatch" %}
      |     {% assign appveyor_id = "vm7g9sdfi2vgix6n" %}
      |   {% endif %}
      a(href="https://ci.appveyor.com/project/ErikBjare/{{module}}/branch/master")
        img(src="https://ci.appveyor.com/api/projects/status/{{appveyor_id}}/branch/master?svg=true")
      | {% endif %}

    td
      | {% if codeclimate_modules contains module %}
      a(href="https://codeclimate.com/github/ActivityWatch/{{module}}")
        img(src="https://codeclimate.com/github/ActivityWatch/{{module}}/badges/gpa.svg")
      | {% endif %}

    td
      | {% if codecov_modules contains module %}
      a(href="https://codecov.io/gh/ActivityWatch/{{module}}")
        img(src="https://codecov.io/gh/ActivityWatch/{{module}}/branch/master/graph/badge.svg")
      | {% endif %}

  tr
  | {% endfor %}


h2 Issues and PRs

table(class="table dense")
  tr
    th Module
    th Issues
    th PRs

  | {% for module in modules %}
  tr
    td
      | {{ module }}

    td
      a(href="https://github.com/ActivityWatch/{{module}}/issues")
        img(alt="Open issues" src="https://img.shields.io/github/issues/activitywatch/{{module}}.svg?style=flat-square")


    td
      a(href="https://github.com/ActivityWatch/{{module}}/pulls")
        img(alt="Open pull requests" src="https://img.shields.io/github/issues-pr/activitywatch/{{module}}.svg?style=flat-square")


  tr
  | {% endfor %}

h2 Packaging status

a(href="https://repology.org/project/activitywatch/versions")
  img(src="https://repology.org/badge/vertical-allrepos/activitywatch.svg" alt="Packaging status")
