---
layout: page
title: Contributors
permalink: /contributors/
---

<p>
  Here you can see some statistics of all our hard working contributors. The list is updated every 24 hours.
</p>

<p>
  <a href="https://github.com/ActivityWatch/activitywatch/blob/master/CONTRIBUTING.md">Contribute yourself</a> to make it onto these lists!
</p>

<p>
  <small>
    <b>Note:</b>
    <i>
      Numbers on maintainers have a tendency to be inflated due some tasks requiring frequent or large changesets (examples: merging PRs, updating dependency locks)
    </i>
  </small>
</p>

<p>
  GitGitLog also provides a view of the stats <a href="https://gitgitlog.com/ActivityWatch">here</a>.
</p>

{% assign modules = "total,aw-core,aw-server,aw-server-rust,aw-webui,aw-qt,aw-android,aw-client,aw-client-js,aw-client-rust,aw-watcher-window,aw-watcher-afk,aw-watcher-web,aw-watcher-vim,aw-watcher-vscode,docs,activitywatch.github.io,activitywatch" | split: ',' %}

<b>Table of contents</b>
<ul>
  {% for module in modules %}
    <li><a href="#{{ module }}">{{ module }}</a>
  {% endfor %}
</ul>

<div class="contributor-stats">
  {% for module in modules %}
    <a {% if module != "total" %} href="https://github.com/activitywatch/{{ module }}" {% endif %}>
      <h3 id={{ module }}>{{ module }}</h3>
    </a>

    {% assign table_filename = "tables/" | append: module %}
    {% include {{ table_filename }}.html %}
  {% endfor %}
</div>

<p>
  <small>
    <i>Last updated: {{ site.time }}</i>
  </small>
</p>
