---
layout: page
title: Contributors
permalink: /contributors/
---

<p>
  Here you can see some statistics of all our hard working contributors. The list will be updated every 24 hours.
</p>

<p>
  <a href="https://github.com/ActivityWatch/activitywatch/blob/master/CONTRIBUTING.md">Contribute yourself</a> to make it onto these lists!
</p>



<div class="contributor-stats">
  {% assign modules = "total,aw-core,aw-server,aw-client,aw-webui,aw-qt,aw-watcher-window,aw-watcher-afk,aw-watcher-web,activitywatch" | split: ',' %}

  {% for module in modules %}
    {% if module == "activitywatch" %}
      <h3>{{ module }} (the bundle + docs)</h3>
    {% else %}
      <h3>{{ module }}</h3>
    {% endif %}

    {% assign table_filename = "tables/" | append: module | append: ".html" %}
    {% include {{ table_filename }} %}
  {% endfor %}
</div>
