---
layout: default
---

article.wrapper.mt-4
  img.d-block.mx-auto.mb-4(style='max-width: 100%' src='/img/banner.png')
  p
    | #[b ActivityWatch] is an app that automatically tracks how you spend time on your devices.
  p
    | It is #[b open source], #[b privacy-first], #[b cross-platform], and a great alternative to services like RescueTime, ManicTime, and WakaTime.
  p
    | It can be used to keep track of your productivity, time spent on different projects, bad screen habits, or just to understand how you spend your time.

  .mb-5.mt-2
    .mb-2
      | {% include download-button.pug %}
      a.mr-2.mb-2.btn.btn-primary(href='https://docs.activitywatch.net/en/latest/getting-started.html', target="_blank", style="vertical-align: top")
        i.fa.fa-question-circle.mr-2
        | Getting started guide
      a.mr-1.mb-2.btn.btn-outline-secondary(href='https://github.com/ActivityWatch/activitywatch', target="_blank", style="vertical-align: top")
        i.fa.fa-github.mr-2
        | Contribute on GitHub

    div
      // Badges and stuff
      a.mr-2(href='https://github.com/ActivityWatch/activitywatch')
        img(title='GitHub stars' src='https://img.shields.io/github/stars/ActivityWatch/activitywatch.svg?style=social&label=Star')
      a(href='https://twitter.com/ActivityWatchIt')
        img(title='Twitter followers' src='https://img.shields.io/twitter/follow/ActivityWatchIt.svg?style=social&label=Follow')

div.container
  div.row
    .col-md-8
      h2 Features
      ul
        li #[b Tracking:] Tracks active application and window title out of the box, more with #[a(href="https://docs.activitywatch.net/en/latest/watchers.html") watchers].
        li #[b Categories:] Get a better overview of your usage by breaking it down into categories.
        li #[b Browser extensions:] Track the active tab using the extensions for #[a(href="https://chrome.google.com/webstore/detail/activitywatch-web-watcher/nglaklhklhcoonedhgnpgddginnjdadi") Chrome] and #[a(href="https://addons.mozilla.org/en-US/firefox/addon/aw-watcher-web/") Firefox].
        li #[b Editor plugins:] Track how you spend time writing code with #[a(href="https://docs.activitywatch.net/en/latest/watchers.html#editor-watchers") editor watchers].
        li #[b Privacy:] Data is stored locally and doesn't leave your device, we put #[a(href="https://www.inkandswitch.com/local-first.html") local and privacy first].
        li #[b Cross-platform:] Runs on #[a(href="/downloads/#windows") Windows], #[a(href="/downloads/#macos") macOS], #[a(href="/downloads/#linux") Linux], and #[a(href="https://play.google.com/store/apps/details?id=net.activitywatch.android") Android].
        li #[s #[b Synchronization:] Sync your activity between your devices.] (We're #[a(href="https://github.com/ActivityWatch/aw-server-rust/tree/master/aw-sync") working on it])

      h2.mt-4 Why use it?
      p You can use ActivityWatch to:

      ul
        li Monitor your productivity.
        li Track how much time you spend on different projects.
        li Get an overview of time spent on apps, games, videos, and music.
        li Manage your bad screen habits.
        li Measure your work-life balance.
        li Find behavioral trends in how you use your devices.
        li Gain "self-knowledge through numbers" (#[a(href="https://en.wikipedia.org/wiki/Quantified_self") Quantified Self])
        li Keep a log of your digital life (#[a(href="https://en.wikipedia.org/wiki/Lifelog") lifelogging]).
        li Research attention, productivity, and behavior (researchers: contact us!)
        li Track who creates the things you use, so you can incentivize them to continue
        ul
          li The goal of the #[a(href='#thankful') Thankful] app

      p
        | Our users are diverse and we keep being surprised by what people use ActivityWatch for.
        | If you've built something cool that you've want to share with us, post about it on #[a(href="https://forum.activitywatch.net") the forum]!

    // Move the column to be the first one on small screens
    .col-md-4.order-first.order-md-last
      h4 Screenshots
      a(href='/img/screenshots/screenshot-v0.9.3-activity.png')
        figure(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/img/screenshots/screenshot-v0.9.3-activity.png')
      a(href='/img/screenshots/screenshot-v0.8.0b9-timeline.png')
        figure.mb-0(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/img/screenshots/screenshot-v0.8.0b9-timeline.png')
      a.mt-0.small(href="/screenshots/")
        i More screenshots here

  div.row.mt-4
    .col-md-6
      h2.mt-4 How to use it
      p
        | To get started with ActivityWatch, you need to #[a(href="/downloads/") download] and #[a(href="https://docs.activitywatch.net/en/latest/getting-started.html") install] the application on your computer. 
      p
        | After you've installed it and it's running (see your system tray), you can visit #[a(href="http://localhost:5600") localhost:5600] in your browser to open the UI.
      p
        | For more detail, see the #[a(href="https://docs.activitywatch.net/en/latest/getting-started.html") getting started guide].


      h4.mt-4 Learn more
      p
        | For more about ActivityWatch see the #[a(href="https://docs.activitywatch.net/en/latest/") documentation], with has helpful pages like #[a(href="https://docs.activitywatch.net/en/latest/faq.html") Frequently asked questions (FAQ)].

      p 
        | For a feature comparison with other similar software, see the #[a(href="https://github.com/ActivityWatch/activitywatch/blob/master/README.md#feature-comparison") comparison section in the README].


    .col-md-6
      h2.mt-4 How to contribute
      p
        | ActivityWatch is built entirely by volunteers and we need help from people (like you!) to keep the project going.
        | If you're interested in contributing, check out the #[a(href="https://github.com/ActivityWatch/activitywatch/blob/master/CONTRIBUTING.md") contributing guide].
      
      h4 Donate
      p
        | If ActivityWatch has helped you in any way, and you don't have the means or time to contribute, please consider #[a(href="/donate/") donating].

      h4 Spread the word
      p
        | If you like ActivityWatch, please consider spreading the word by sharing it on social media, writing a blog post, or recommending it to a friend.

  hr

  div.row.mt-4
    .col-md-6
      h2.mt-4 Where to follow the project
      p
        | You can follow the project on social media, like #[a(href="https://twitter.com/ActivityWatchIt") Twitter], #[a(href="https://www.linkedin.com/company/activitywatch") LinkedIn], #[a(href="https://www.reddit.com/r/activitywatch") Reddit], and #[a(href="https://www.facebook.com/ActivityWatch") Facebook].
      p
        | You can chat with us in our #[a(href="https://discord.gg/vDskV9q") Discord server], or discuss with us on the #[a(href="https://forum.activitywatch.net") forum].
      p
        | You can also #[a(href="http://eepurl.com/cTU6QX") subscribe to our very low-traffic newsletter] to get very rare updates about the project.

      h2.mt-4 About the maintainers
      p
        | ActivityWatch was founded by brothers and current maintainers Erik Bjäreholt and Johan Bjäreholt.
        | We started building ActivityWatch because we thought something like it should exist (it didn't), so we decided to build it ourselves. You can read the #[a(href="https://docs.activitywatch.net/en/latest/history.html") History] page in the docs for more about the project's origins.
      p
        | We don't work on ActivityWatch full-time, so development may slow at times. But we think that ActivityWatch is important software (if you agree, #[a(href="/donate/") donate]!), and we're building for the long term. 
        | We want to build an as useful tool as possible for as many people as possible.
      p
        | Over the years, many significant contributions have come from the community, and we hope to see them increase over time.
        | For details on who has contributed what and how much to ActivityWatch, check out the #[a(href='https://activitywatch.net/contributors/') contributor statistics].

    .col-md-6
      div.mt-4(style="border: 1px solid #CCC; border-radius: 15px; height: 500px")
        | <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/ActivityWatchIt?ref_src=twsrc%5Etfw">Tweets by ActivityWatchIt</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
