---
layout: default
---

article.wrapper.mt-4
  img.d-block.mx-auto.mb-4(style='max-width: 100%' src='/img/banner.png')
  p
    | #[b ActivityWatch] is an app that automatically tracks how you spend time on your devices.
  p
    | It is #[b open source], #[b privacy-first], #[b cross-platform], and a great alternative to services like RescueTime, ManicTime, and WakaTime.
  p
    | It can be used to keep track of your productivity, time spent on different projects, bad screen habits, or just to understand how you spend your time.

  .mb-5.mt-2
    .mb-2
      | {% include download-button.html %}
      a.mr-2.mb-2.btn.btn-primary(href='https://docs.activitywatch.net/en/latest/getting-started.html', target="_blank", style="vertical-align: top")
        i.fa.fa-question-circle.mr-2
        | Getting started guide
      a.mr-1.mb-2.btn.btn-outline-secondary(href='https://github.com/ActivityWatch/activitywatch', target="_blank", style="vertical-align: top")
        i.fa.fa-github.mr-2
        | Contribute on GitHub

    div
      // Badges and stuff
      a.mr-2(href='https://github.com/ActivityWatch/activitywatch')
        img(title='GitHub stars' src='https://img.shields.io/github/stars/ActivityWatch/activitywatch.svg?style=social&label=Star')
      a(href='https://twitter.com/ActivityWatchIt')
        img(title='Twitter followers' src='https://img.shields.io/twitter/follow/ActivityWatchIt.svg?style=social&label=Follow')

div.container
  div.row
    .col-md-8
      h2 Features
      ul
        li #[b Tracking:] Tracks active application and window title out of the box, more with #[a(href="https://docs.activitywatch.net/en/latest/watchers.html") watchers].
        li #[b Categories:] Get a better overview of your usage by breaking it down into categories.
        li #[b Browser extensions:] Track the active tab using the extensions for #[a(href="https://chrome.google.com/webstore/detail/activitywatch-web-watcher/nglaklhklhcoonedhgnpgddginnjdadi") Chrome] and #[a(href="https://addons.mozilla.org/en-US/firefox/addon/aw-watcher-web/") Firefox].
        li #[b Editor plugins:] Track how you spend time writing code with #[a(href="https://docs.activitywatch.net/en/latest/watchers.html#editor-watchers") editor watchers].
        li #[b Privacy:] Data is stored locally and doesn't leave your device, we put #[a(href="https://www.inkandswitch.com/local-first.html") local and privacy first].
        li #[b Cross-platform:] Runs on #[a(href="/downloads/#windows") Windows], #[a(href="/downloads/#macos") macOS], #[a(href="/downloads/#linux") Linux], and #[a(href="https://play.google.com/store/apps/details?id=net.activitywatch.android") Android].
        li #[s #[b Synchronization:] Sync your activity between your devices.] (We're working on it)

      h2.mt-4 Why use it?
      p You can use ActivityWatch to:

      ul
        li Monitor your productivity.
        li Track how much time you spend on different projects.
        li Get an overview of time spent on apps, games, videos, and music.
        li Manage your bad screen habits.
        li Measure your work-life balance.
        li Find behavioral trends in how you use your devices.
        li Gain "self-knowledge through numbers" (#[a(href="https://en.wikipedia.org/wiki/Quantified_self") Quantified Self])
        li Keep a log of your digital life (#[a(href="https://en.wikipedia.org/wiki/Lifelog") lifelogging]).
        li Research attention, productivity, and behavior (researchers: contact us!)
        li Track who creates the things you use, so you can incentivize them to continue
        ul
          li The goal of the #[a(href='#thankful') Thankful] app

      p
        | Our users are diverse and we keep being surprised by what people use ActivityWatch for.
        | If you've built something cool that you've want to share with us, post about it on #[a(href="https://forum.activitywatch.net") the forum]!

    .col-md-4
      h4 Screenshots
      a(href='/img/screenshot-v0.9.3-activity.png')
        figure(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/img/screenshot-v0.9.3-activity.png')
      a(href='/img/screenshot-v0.8.0b9-timeline.png')
        figure(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/img/screenshot-v0.8.0b9-timeline.png')

  div.row.mt-4
    .col-md-6
      h2 Support the project!
      p
        | ActivityWatch is built entirely by volunteers and relies on donations to keep development going. If it has helped you in any way, please consider #[a(href="/donate/") donating].

      h2.mt-4 About the maintainers
      p
        | ActivityWatch is primarily being developed by Erik Bjäreholt and Johan Bjäreholt, with help from the community. We're two brothers who, among other things, like free and open-source software.
        | We started building ActivityWatch because we thought something like it should exist (it didn't), so we built it ourselves.
      p
        | We make practically no money from our work on ActivityWatch and have other things going on, like work and studies, that may cause development to slow at times. But with that in mind we think this is important software (if you agree, donate!) so we're building for the long term. Our goal is simply to build an as useful tool as possible for as many people as possible.
      p
        | Many significant contributions have come from the community and we hope to see them increase over time.
        | For details on who has contributed what and how much to ActivityWatch check out the #[a(href='https://activitywatch.net/contributors/') contributor statistics].

      h2.mt-4 Our other projects
      p
        | Here's a spot for us to show off our other projects!

      div.my-3

      h4#thankful Thankful
      p
        b Support creators of free culture by directly sending them cryptocurrency.
      p
        | Thankful uses data about websites you visit, music you listen to, videos you watch, and applications you use, and lets you support the creators of it by directly sending them cryptocurrency.
        | For more, check out #[a(href='https://github.com/SuperuserLabs/thankful') Thankful on GitHub].


    .col-md-6
      div(style="border: 1px solid #CCC; border-radius: 5px")
        | <a class="twitter-timeline" data-height="700" data-theme="light" href="https://twitter.com/ActivityWatchIt?ref_src=twsrc%5Etfw">Tweets by ActivityWatchIt</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
