---
layout: default
---

article.wrapper.mt-4
  img.d-block.mx-auto.mb-4(style='max-width: 100%' src='/img/banner.png')
  p
    | #[b ActivityWatch] is an app that automatically tracks how you spend time on your devices.
  p
    | It is #[b open source], #[b privacy-first], #[b cross-platform], and a great alternative to services like RescueTime, ManicTime, and WakaTime.
  p
    | It can help you keep track of time spent on different projects, kick bad screen habits, or just understand how you spend your time.

  .mb-5.mt-2
    .mb-2
      a.mr-1.btn.btn-success(href='https://github.com/ActivityWatch/activitywatch/releases', target="_blank")
        i.fa.fa-download.mr-2
        | Download
      // {-% include download-button.html %-}
      a.mr-1.btn.btn-primary(href='https://activitywatch.readthedocs.io/en/latest/getting-started.html', target="_blank")
        i.fa.fa-question-circle.mr-2
        | Getting started guide
      a.mr-1.btn.btn-outline-secondary(href='https://github.com/ActivityWatch/activitywatch', target="_blank")
        i.fa.fa-github.mr-2
        | Contribute on GitHub

    div
      // Badges and stuff
      a.mr-2(href='https://github.com/ActivityWatch/activitywatch')
        img(title='GitHub stars' src='https://img.shields.io/github/stars/ActivityWatch/activitywatch.svg?style=social&label=Star')
      a(href='https://twitter.com/ActivityWatchIt')
        img(title='Twitter followers' src='https://img.shields.io/twitter/follow/ActivityWatchIt.svg?style=social&label=Follow')

div.container
  div.row
    .col-md-9
      h2 Features
      ul
        li #[b Tracking:] Tracks active application and window title by default, more with #[a(href="https://activitywatch.readthedocs.io/en/latest/watchers.html") watchers].
        li #[b Categories:] Get a better overview of your usage by defining categories just how you want them.
        li #[b Browser extensions:] Track the active tab using the extensions for #[a(href="https://chrome.google.com/webstore/detail/activitywatch-web-watcher/nglaklhklhcoonedhgnpgddginnjdadi?hl=en") Chrome] and #[a(href="https://addons.mozilla.org/en-US/firefox/addon/aw-watcher-web/") Firefox].
        li #[b Editor plugins:] Track how you spend time writing code with #[a(href="https://activitywatch.readthedocs.io/en/latest/watchers.html#editor-watchers") editor watchers].
        li #[b Privacy:] Data is stored locally and doesn't leave your device, we put #[a(href="https://www.inkandswitch.com/local-first.html") local and privacy first].
        li #[b Cross-platform:] Runs on Windows, macOS, Linux, and #[a(href="https://play.google.com/store/apps/details?id=net.activitywatch.android&hl=en") Android].
        li #[s #[b Synchronization:] Sync your activity between your devices.] (We're working on it)

      h2.mt-4 Why use it?
      p You can use ActivityWatch to:

      ul
        li Keep a record of what you've been doing in life.
        li Track how much time you've spent working on different projects.
        li Manage your bad screen habits.
        li Keep track of your productivity by measuring how much time you spend getting stuff done.
        li Get an overview of which apps you use, videos you watch, music you listen to, and games you play.
        li Figure out who creates the things you like, letting you know who to reward so that you can ensure they are incentivized to continue. (The mission of the #[a(href='#thankful') Thankful] project)
        li Do cutting edge research on attention and productivity (if you're a researcher: contact us!)
        li And more... (we keep being surprised)

    .col-md-3
      h4 Screenshots
      a(href='/screenshot-v0.8.0b9-today.png')
        figure(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/screenshot-v0.8.0b9-today.png')
      a(href='/screenshot-v0.8.0b9-timeline.png')
        figure(style='width: 100%; border: 1px #999 solid; border-radius: 2px')
          img(style='width: 100%' src='/screenshot-v0.8.0b9-timeline.png')

  div.row.mt-4
    .col-md-6
      h2 Support the project!
      p
        | ActivityWatch is built entirely by volunteers and relies on donations to keep development going. If it has helped you in any way, please #[a(href="/donate/") donating].


    .col-md-6
      h2 Our other projects
      p
        | ActivityWatch is primarily developed by brothers Erik and Johan Bjäreholt with the help of the community (check out the #[a(href='https://activitywatch.net/contributors/') contributor statistics]). But it's not all we're building, so check out some of our other projects!

      div.my-3

      h4#thankful Thankful
      p
        b Support creators of free culture by directly sending them cryptocurrency.
      p
        | Thankful uses data about websites you visit, music you listen to, videos you watch, and applications you use, and lets you support the creators of it by directly sending them cryptocurrency.
        | For more, check out #[a(href='https://github.com/SuperuserLabs/thankful') Thankful on GitHub].
