---
title: Screenshots
layout: page
permalink: /screenshots/
toc: true
excerpt: "Some screenshots of ActivityWatch, listed in reverse chronological order (recent first)."
container_class: container
---

style
  | .row img {
  |    margin-bottom: 1rem;
  |    border-radius: 0.25rem;
  |    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  |    border: 1px solid rgba(0, 0, 0, 0.1);
  | }
  | h4 {
  |   padding-top: 1rem !important;
  | }
  | .small {
  |   font-style: italic;
  | }

p
  | {{ page.excerpt }}

p
  | Your screenshots could be here too. Join our #[a(href="https://github.com/ActivityWatch/activitywatch/discussions/741") screenshot competition]!

p.py-2
  h3 v0.12.0

  .row
    .col-md-6
      h4 Activity
      a(href="/img/screenshots/thelifeimliving/activity.png")
        img(src="/img/screenshots/thelifeimliving/activity.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the activity feature." width="100%")
      .small By @thelifeimliving

    .col-md-6
      h4 Activity with productivity categories
      a(href="/img/screenshots/realhyperchango/activity-productivity.png")
        img(src="/img/screenshots/realhyperchango/activity-productivity.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the productivity categories feature." width="100%")
      .small By @realhyperchango

    .col-md-6
      h4 Activity (dark)
      a(href="/img/screenshots/BelKed/screenshot-v0.12.0b2-activity.png")
        img(src="/img/screenshots/BelKed/screenshot-v0.12.0b2-activity.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the Dark mode feature." width="100%")
      .small By @BelKed

    .col-md-6
      h4 Timeline (dark)
      a(href="/img/screenshots/thelifeimliving/timeline-dark.png")
        img(src="/img/screenshots/thelifeimliving/timeline-dark.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the timeline feature." width="100%")
      .small By @thelifeimliving

    .col-md-6
      h4 Month view
      a(href="/img/screenshots/maholli/month.png")
        img(src="/img/screenshots/maholli/month.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the monthly timeline feature." width="100%")
      .small By @maholli

    .col-md-6
      h4 Search
      a(href="/img/screenshots/thelifeimliving/search.png")
        img(src="/img/screenshots/thelifeimliving/search.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the search feature." width="100%")
      .small By @thelifeimliving

  .row
    .col-md-12
      h4 Stopwatch
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/stopwatch.png")
        img(src="/img/screenshots/thelifeimliving/stopwatch.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the Stopwatch feature." width="100%")
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/stopwatch-dark.png")
        img(src="/img/screenshots/thelifeimliving/stopwatch-dark.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the Stopwatch(dark mode) feature." width="100%")
    .col-md-12
      .small By @thelifeimliving

  .row
    .col-md-12
      h4 Query explorer
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/query-explorer.png")
        img(src="/img/screenshots/thelifeimliving/query-explorer.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the Query explorer feature." width="100%")
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/query-explorer-dark.png")
        img(src="/img/screenshots/thelifeimliving/query-explorer-dark.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the Query explorer(dark mode) feature." width="100%")
    .col-md-12
      .small By @thelifeimliving

  .row
    .col-md-12
      h4 Settings
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/settings.png")
        img(src="/img/screenshots/thelifeimliving/settings.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the settings." width="100%")
    .col-md-6
      a(href="/img/screenshots/thelifeimliving/settings-dark.png")
        img(src="/img/screenshots/thelifeimliving/settings-dark.png" alt="Screenshot of the ActivityWatch Web App Dashboard showing the settings(dark mode)." width="100%")
    .col-md-12
      .small By @thelifeimliving


p.py-2
  h3 v0.9.3

  .row
    .col-md-6
      h4 Activity
      a(href="/img/screenshots/screenshot-v0.9.3-activity.png")
        img(src="/img/screenshots/screenshot-v0.9.3-activity.png" alt="Screenshot of the ActivityWatch Web App Dashboard of version 0.9.3." width="100%")

p.py-2
  h3 v0.8.0
  Released

  .row
    .col-md-6
      h4 Today (old Activity view)
      a(href="/img/screenshots/screenshot-v0.8.0b9-today.png")
        img(src="/img/screenshots/screenshot-v0.8.0b9-today.png" alt="Screenshot of the ActivityWatch Web App Dashboard of version 0.8.0(older version)." width="100%")

    .col-md-6
      h4 Timeline
      a(href="/img/screenshots/screenshot-v0.8.0b9-timeline.png")
        img(src="/img/screenshots/screenshot-v0.8.0b9-timeline.png" alt="Screenshot of the ActivityWatch Web App Dashboard of version 0.8.0(older version)." width="100%")
