---
title: Screenshots
layout: page
permalink: /screenshots/
toc: true
excerpt: "Some screenshots of ActivityWatch, listed in reverse chronological order (recent first)."
---

p
  | {{ page.excerpt }}

p
  h3 v0.12.0

  h4 Dark mode
  | Screenshot taken by @BelKed
  img(src="/img/screenshots/BelKed/screenshot-v0.12.0b2-activity.png" alt="Screenshot of ActivityWatch" width="100%")

p
  h3 v0.9.3

  h4 Activity
  img(src="/img/screenshots/screenshot-v0.9.3-activity.png" alt="Screenshot of ActivityWatch" width="100%")

p
  h3 v0.8.0
  Released

  h4 Today (old Activity view)
  img(src="/img/screenshots/screenshot-v0.8.0b9-today.png" alt="Screenshot of ActivityWatch" width="100%")

  h4 Timeline
  img(src="/img/screenshots/screenshot-v0.8.0b9-timeline.png" alt="Screenshot of ActivityWatch" width="100%")
