---
title: Screenshots
layout: page
permalink: /screenshots/
toc: true
excerpt: "Some screenshots of ActivityWatch, listed in reverse chronological order (recent first)."
---

p
  | {{ page.excerpt }}

p
  | Your screenshots could be here too. Join our #[a(href="https://github.com/ActivityWatch/activitywatch/discussions/741") screenshot competition]!

p.py-2
  h3 v0.12.0

  .row
    .col-md-6
      h4 Dark mode
      | Screenshot taken by @BelKed
      a(href="/img/screenshots/BelKed/screenshot-v0.12.0b2-activity.png")
        img(src="/img/screenshots/BelKed/screenshot-v0.12.0b2-activity.png" alt="Screenshot of ActivityWatch" width="100%")

p.py-2
  h3 v0.9.3

  .row
    .col-md-6
      h4 Activity
      a(href="/img/screenshots/screenshot-v0.9.3-activity.png")
        img(src="/img/screenshots/screenshot-v0.9.3-activity.png" alt="Screenshot of ActivityWatch" width="100%")

p.py-2
  h3 v0.8.0
  Released

  .row
    .col-md-6
      h4 Today (old Activity view)
      a(href="/img/screenshots/screenshot-v0.8.0b9-today.png")
        img(src="/img/screenshots/screenshot-v0.8.0b9-today.png" alt="Screenshot of ActivityWatch" width="100%")

    .col-md-6
      h4 Timeline
      a(href="/img/screenshots/screenshot-v0.8.0b9-timeline.png")
        img(src="/img/screenshots/screenshot-v0.8.0b9-timeline.png" alt="Screenshot of ActivityWatch" width="100%")
