---
layout: page
title: Statistics
permalink: /stats/
---

// Bullshit to get the page to render: https://github.com/DougBeney/jekyll-pug/issues/19#issuecomment-1131441149
| {% if 1 %}{% endif %}

p
  | Some stats of ActivityWatch downloads, users, and stars.
p
  | To make sense of what caused spikes in the graphs, see the #[a(href="/timeline/") timeline].
p
  | All data is collected in the #[a(href="https://github.com/ActivityWatch/stats") stats] repository.


hr.my-5

div.text-center
  h3 Downloads
  p
    | Download statistics for releases
  div.img-center
    img.width-500(src="/img/stats/downloads.png")
  div.small.dim (Updated every 24 hours)

hr.my-5

div.text-center
  h3 Active users
  p
    | Metrics of how many active users there are

  h4.mt-5 Web extensions
  p
    | How many people are using the aw-watcher-web extension
    br
  div.img-center
    img.width-500(src="/img/stats/chrome-wau.png")
    img.width-500(src="/img/stats/firefox-dau-7d.png")
  div.small.dim (Updated manually on an irregular basis)

  h4.mt-5 Android app
  p
    | How many active installations there are of the Android app
  div.img-center
    img.width-500(src="/img/stats/android-devices.png")
  div.small.dim (Updated manually on an irregular basis)

hr.my-5

div.text-center
  h3 Stargazers
  p
    | How many people have starred the ActivityWatch repository on GitHub
  div.img-center
    a(href="https://starchart.cc/ActivityWatch/activitywatch")
      img.width-700(title="Stargazers over time" src="https://starchart.cc/ActivityWatch/activitywatch.svg")
  div.small.dim
    | Provided by starchart.cc

hr.my-5

h3.text-center.mb-5 Ratings
div.row.text-center
  div.col-12.img-center.mb-5
    h6 Product Hunt
    a(href="https://www.producthunt.com/products/activitywatch/reviews?utm_source=badge-product_rating&utm_medium=badge&utm_souce=badge-activitywatch" target="_blank")
      img(src="https://api.producthunt.com/widgets/embed-image/v1/product_rating.svg?product_id=112754&theme=neutral" alt="ActivityWatch - Open-source time tracker | Product Hunt")

  style.
    .group {
      display: flex;
      border-radius: 5px;
      border: 1px solid #e1e4e8;
      flex-direction: column;
      padding: 1rem 1rem 1rem 1rem;
      align-items: center;
      margin: 2rem 0;
    }

  div.col-md-3.col-sm-0
  div.col-md-3.col-sm-6
    div.group
      h6 AlternativeTo
      a(href="https://alternativeto.net/software/activitywatch/about/")
        img(src="https://img.shields.io/badge/rating-{{ site.data.ratings.alternativeto.average }}%2F5%20({{ site.data.ratings.alternativeto.count }})-brightgreen")

    div.group
      h6 Play Store
      a(href="https://play.google.com/store/apps/details?id=net.activitywatch.android")
        img(src="https://PlayBadges.pavi2410.me/badge/ratings?id=net.activitywatch.android&country=us")

    div.group
      h6 Arch Linux (AUR)
      a(href="https://aur.archlinux.org/packages/activitywatch-bin/")
        img(src="https://img.shields.io/aur/votes/activitywatch-bin?logo=arch-linux&color=brightgreen")

  div.col-md-3.col-sm-6
    div.group
      h6 aw-watcher-web
      a(href="https://chromewebstore.google.com/detail/activitywatch-web-watcher/nglaklhklhcoonedhgnpgddginnjdadi")
        img(alt="Chrome Web Store" src="https://img.shields.io/chrome-web-store/rating/nglaklhklhcoonedhgnpgddginnjdadi?logo=googlechrome")
      br
      a(href="https://addons.mozilla.org/en-US/firefox/addon/aw-watcher-web/")
        img(src="https://img.shields.io/amo/rating/aw-watcher-web?logo=firefox")

    div.group
      h6 aw-watcher-vscode
      p.my-0
        div.small VS Marketplace
        a(href="https://marketplace.visualstudio.com/items?itemName=activitywatch.aw-watcher-vscode")
          img(alt="Visual Studio Marketplace Rating" src="https://img.shields.io/visual-studio-marketplace/r/activitywatch.aw-watcher-vscode?logo=visual-studio-code")
      p.my-0
        div.small Open-VSX
        a(href="https://open-vsx.org/extension/ActivityWatch/aw-watcher-vscode")
          img(src="https://img.shields.io/open-vsx/rating/ActivityWatch/aw-watcher-vscode?logo=visual-studio-code")
      //br
      //a(href="https://open-vsx.org/extension/ActivityWatch/aw-watcher-vscode")
        img(src="https://img.shields.io/open-vsx/dt/ActivityWatch/aw-watcher-vscode?logo=visual-studio-code")

hr.my-5

h3.text-center.mb-5 Donations
div.row.text-center
  div.col-md-3.col-sm-0
  div.col-md-3.col-sm-6
    div.group
      h6 OpenCollective
      //div
        a(href="https://opencollective.com/activitywatch")
          img(src="https://opencollective.com/activitywatch/tiers/backer.svg?avatarHeight=36")
      a(href="https://opencollective.com/activitywatch")
        img(src="https://img.shields.io/opencollective/all/activitywatch?logo=opencollective")

    div.group
      h6 GitHub Sponsors
      a(href="https://github.com/sponsors/activitywatch")
        img(src="https://img.shields.io/github/sponsors/activitywatch?logo=github&color=brightgreen")

  div.col-md-3.col-sm-6
    div.group
      h6 Liberapay
      a(href="https://liberapay.com/ActivityWatch/")
        img(src="https://img.shields.io/liberapay/receives/ActivityWatch.svg?logo=liberapay&color=darkgreen")

    div.group
      h6 Patreon
      a(href="https://patreon.com/erikbjare")
        img(src="https://img.shields.io/endpoint.svg?url=https%3A%2F%2Fshieldsio-patreon.vercel.app%2Fapi%3Fusername%3Derikbjare%26type%3Dpledges&style=flat&color=darkgreen")

hr.my-5

h3.text-center.mb-5 Social
div.row.text-center
  div.col-sm-4
    div.group
      h6 Discord
      a(href="https://discord.gg/vDskV9q")
      img(alt="Discord" src="https://img.shields.io/discord/755040852727955476?logo=discord")

  div.col-sm-4
    div.group
      h6 GitHub stars #[span.small.dim (all repos)]
      img(src="https://img.shields.io/github/stars/ActivityWatch?logo=github")

  div.col-sm-4
    div.group
      h6 Reddit
      a(href="https://www.reddit.com/r/activitywatch/")
        img(src="https://img.shields.io/reddit/subreddit-subscribers/activitywatch?color=brightgreen&logo=reddit")

hr.my-5

div.text-center
  p
    small Want more statistics? Check out the #[a(href="/contributors/") contributor stats].
