---
layout: page
title: Statistics
permalink: /stats/
---

// Bullshit to get the page to render: https://github.com/DougBeney/jekyll-pug/issues/19#issuecomment-1131441149
| {% if 1 %}{% endif %}

p Some stats of ActivityWatch downloads, users, and stars.

p All data is collected in the #[a(href="https://github.com/ActivityWatch/stats") stats] repository.

hr

h3 Downloads
p
  | Download statistics for releases, updated every 24h.
img(src="/img/stats/downloads.png" width="100%")

hr

h3 Active users
p
  | How many people are using the aw-watcher-web extension in Chrome or Firefox. Updated manually on an irregular basis.
img(src="/img/stats/chrome-wau.png" width="100%")
img(src="/img/stats/firefox-dau-7d.png" width="100%")

hr

h3 Stargazers over time
a(href="https://starchart.cc/ActivityWatch/activitywatch")
  img(title="Stargazers over time" src="https://starchart.cc/ActivityWatch/activitywatch.svg" width="100%")

hr

p
  small Want more statistics? Check out the #[a(href="/contributors/") contributor stats].
