---
layout: page
title: Statistics
permalink: /stats/
---

// Bullshit to get the page to render: https://github.com/DougBeney/jekyll-pug/issues/19#issuecomment-1131441149
| {% if 1 %}{% endif %}

h3 Downloads
p
  | Here you can see some download statistics, updated every 24h.
img(src="/img/stats/downloads.png" width="100%")

hr

h3 Active users
p
  | How many people are using the aw-watcher-web extension in Chrome or Firefox.
img(src="/img/stats/chrome-wau.png" width="100%")
img(src="/img/stats/firefox-dau-7d.png" width="100%")

hr

h3 Stargazers over time
a(href="https://starchart.cc/ActivityWatch/activitywatch")
  img(title="Stargazers over time" src="https://starchart.cc/ActivityWatch/activitywatch.svg" width="100%")
