---
layout: page
title: Module Status
permalink: /dev/overview/
---


{% assign modules = "activitywatch,aw-core,aw-server,aw-client,aw-qt,aw-webui,aw-watcher-afk,aw-watcher-window,aw-watcher-web" | split: ',' %}

{% assign appveyor_modules = "activitywatch,aw-core" | split: ',' %}
{% assign codecov_modules = "aw-core" | split: ',' %}

<h2>Continuous Integration</h2>

<table class="table dense">
  <tr>
    <th>Module</th>
    <th>Travis</th>
    <th>Code Climate</th>
    <th>Appveyor</th>
    <th>Codecov</th>
  </tr>
{% for module in modules %}
  <tr>
    <td>
      {{ module }}
    </td>
    <td>
      <a href="https://travis-ci.org/ActivityWatch/activitywatch">
        <img src="https://travis-ci.org/ActivityWatch/activitywatch.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://codeclimate.com/github/ActivityWatch/{{module}}">
        <img src="https://codeclimate.com/github/ActivityWatch/{{module}}/badges/gpa.svg">
      </a>
    </td>
    <td>
      {% if appveyor_modules contains module %}
        {% if module == "aw-core" %}
          {% assign appveyor_id = "h5cvxoghh1wr4ycr" %}
        {% else if module == "activitywatch" %}
          {% assign appveyor_id = "vm7g9sdfi2vgix6n" %}
        {% endif %}
        <a href="https://ci.appveyor.com/project/ErikBjare/{{module}}/branch/master">
          <img src="https://ci.appveyor.com/api/projects/status/{{appveyor_id}}/branch/master?svg=true">
        </a>
      {% endif %}
    </td>
    <td>
      {% if codecov_modules contains module %}
        <a href="https://codecov.io/gh/ActivityWatch/{{module}}">
          <img src="https://codecov.io/gh/ActivityWatch/{{module}}/branch/master/graph/badge.svg">
        </a>
      {% endif %}
    </td>
  <tr>
{% endfor %}
</table>

<h2>Issues and PRs</h2>

<table class="table dense">
  <tr>
    <th>Module</th>
    <th>Issues</th>
    <th>PRs</th>
  </tr>
{% for module in modules %}
  <tr>
    <td>
      {{ module }}
    </td>
    <td>
      <a href="https://github.com/ActivityWatch/{{module}}/issues">
        <img alt="Open issues" src="https://img.shields.io/github/issues/activitywatch/{{module}}.svg?style=flat-square">
      </a>
    </td>
    <td>
      <a href="https://github.com/ActivityWatch/{{module}}/pulls">
        <img alt="Open pull requests" src="https://img.shields.io/github/issues-pr/activitywatch/{{module}}.svg?style=flat-square">
      </a>
    </td>
  <tr>
{% endfor %}
</table>
