span
  span(style="display: inline-block").mb-2
    div
      a.btn.btn-success.mr-1#download(href="/downloads/", style="text-align: left")
        i.fa.fa-download.mr-2
        span(style="display: inline-block;")
          span Download
          br
          span#download-info(style="font-size: 0.6em; color: #DDD; float: left; margin-top: -0.5em")
            |
    //div
      | #[a(href="/downloads/" style="font-size: 0.8em; opacity: 0.8;") All downloads]

  script
    | {% include download-url.js %}
    |
    | // Sets the download url and text
    | adaptDownloadButton();
