<footer class="site-footer">
  <div class="wrapper">

    <h4 class="footer-heading" style="margin-bottom: 0.2em">{{ site.title }}</h4>
    <p><i>{{ site.description }}</i></p>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>Erik Bjäreholt</li>
          <li><small>Founder, maintainer</small></li>
          <li><small>{% include icon-github.html username="ErikBjare" %}</small>
          <li><small>{% include icon-twitter.html username="ErikBjare" %}</small>
          <!--li><small><a href="mailto:{{ site.email }}">{{ site.email }}</a></small></li-->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>Johan Bjäreholt</li>
          <li><small>Maintainer</small></li>
          <li><small>{% include icon-github.html username="johan-bjareholt" %}</small>
        </ul>
      </div>
    </div>

  </div>
</footer>
