<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" style="//max-width: 800px">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img style="width: 100%; max-width: 16em" src="/img/banner.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="font-size: 1.2em" id="navbarSupportedContent">
      <ul class="navbar-nav mr-0" style="margin-left: auto;">
        <li class="nav-item">
          <a style="color: green;" class="nav-link font-weight-bold" href="/about/">
            <i class="fa fa-info-circle"></i>
            About
          </a>
        </li>
        <li class="nav-item">
          <a style="color: teal;" class="nav-link font-weight-bold" href="https://activitywatch.readthedocs.io/en/latest/">
            <i class="fa fa-book"></i>
            Docs
          </a>
        </li>
        <li class="nav-item">
          <a style="color: purple;" class="nav-link font-weight-bold" href="https://forum.activitywatch.net/">
            <i class="fa fa-comments"></i>
            Forum
          </a>
        </li>
        <li class="nav-item">
          <a style="color: orange;" class="nav-link font-weight-bold" href="/donate/">
            <i class="fa fa-handshake-o"></i>
            Donate
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bolt"></i>
            Development
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-secondary font-weight-bold" href="/contributors/">
              <i class="fa fa-users"></i>
              Contributors
            </a>
            <a class="dropdown-item text-secondary font-weight-bold" href="/ci/">
              <i class="fa fa-cogs"></i>
              Continuous Integration
            </a>
            <!--div class="dropdown-divider"></div-->
          </div>
        </li>
      </div>
    </div>
  </div>
</nav>
