html
  head
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container(style='//max-width: 800px')
        a.navbar-brand(href='{{ site.baseurl }}/')
          img(style='max-height: 2em', src='/img/banner.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent(style='font-size: 1.2em')
          ul.navbar-nav.mr-0(style='margin-left: auto;')
            li.nav-item
              a.nav-link.mr-1.font-weight-bold(style='color: green;', href='/downloads/')
                i.fa.fa-download.mr-2
                | Downloads
            li.nav-item
              a.nav-link.mr-1.font-weight-bold(style='color: #0AA;', href='https://docs.activitywatch.net/en/latest/', target='_blank')
                i.fa.fa-book.mr-2
                | Docs
            li.nav-item
              a.nav-link.mr-1.font-weight-bold(style='color: teal;', href='https://forum.activitywatch.net/', target='_blank')
                i.fa.fa-comments.mr-2
                | Forum
            li.nav-item
              a.nav-link.mr-1.font-weight-bold(style='color: #06C;', href='/blog/')
                i.fa.fa-pencil.mr-2
                | Blog
            li.nav-item
              a.nav-link.font-weight-bold(style='color: #EE9900;', href='/donate/')
                i.fa.fa-handshake-o.mr-2
                | Donate
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.font-weight-bold#navbarDropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fa.fa-bolt.mr-2
                | Stats
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item.text-secondary.font-weight-bold(href='/stats/')
                  i.fa.fa-download.mr-2
                  | Downloads & Users
                a.dropdown-item.text-secondary.font-weight-bold(href='/contributors/')
                  i.fa.fa-users.mr-2
                  | Contributors
                a.dropdown-item.text-secondary.font-weight-bold(href='/sponsors/')
                  i.fa.fa-money.mr-2
                  | Sponsors
                a.dropdown-item.text-secondary.font-weight-bold(href='/ci/')
                  i.fa.fa-cogs.mr-2
                  | Continuous Integration
                a.dropdown-item.text-secondary.font-weight-bold(href='/timeline/')
                  i.fa.fa-clock-o.mr-2
                  | Timeline
                //div class="dropdown-divider"></div
