<table>
<thead>
<tr>
  <th>Name</th>
  <th style="text-align:center;">Active?</th>
  <th style="text-align:right;">Total Donated</th>
</tr>
</thead>
<tbody>
<tr>
  <td><a href="https://fuug.fi/">FUUG.fi</a></td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">3240.00 USD</td>
</tr>
<tr>
  <td><a href="https://www.ugent.be/">Ghent University</a></td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">540.00 USD</td>
</tr>
<tr>
  <td>James Flynn</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">524.00 USD</td>
</tr>
<tr>
  <td>Shane Fontaine (<a href="https://github.com/shanefontaine">@shanefontaine</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">329.33 USD</td>
</tr>
<tr>
  <td>Ore O (<a href="https://github.com/oreHGA">@oreHGA</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">256.77 USD</td>
</tr>
<tr>
  <td>Paul Cuciureanu</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">214.49 USD</td>
</tr>
<tr>
  <td>Joseph Method</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">170.00 USD</td>
</tr>
<tr>
  <td>egeres (<a href="https://github.com/egeres">@egeres</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">150.00 USD</td>
</tr>
<tr>
  <td>Thomas Luechtefeld (<a href="https://github.com/tomlue">@tomlue</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">140.00 USD</td>
</tr>
<tr>
  <td>Jared Blum</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">140.00 USD</td>
</tr>
<tr>
  <td>Patreon fu-fu</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">106.85 USD</td>
</tr>
<tr>
  <td>incognito (<a href="https://github.com/incognito-77326f02">@incognito-77326f02</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">100.00 USD</td>
</tr>
<tr>
  <td>Olli Nevalainen (<a href="https://github.com/olli-nevalainen">@olli-nevalainen</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">96.00 USD</td>
</tr>
<tr>
  <td>oli-obk</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">95.00 USD</td>
</tr>
<tr>
  <td>nan (<a href="https://github.com/cynkra">@cynkra</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">91.29 USD</td>
</tr>
<tr>
  <td>Gergely Daróczi (<a href="https://github.com/daroczig">@daroczig</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">88.18 USD</td>
</tr>
<tr>
  <td>PK</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">86.23 USD</td>
</tr>
<tr>
  <td>nan (<a href="https://github.com/naji-s">@naji-s</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">81.00 USD</td>
</tr>
<tr>
  <td>Narkain</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">80.00 USD</td>
</tr>
<tr>
  <td>Dominik Stańczak-Marikin (<a href="https://github.com/StanczakDominik">@StanczakDominik</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">69.00 USD</td>
</tr>
<tr>
  <td>V</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">66.00 USD</td>
</tr>
<tr>
  <td>Glenn Willen (<a href="https://github.com/gwillen">@gwillen</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">63.00 USD</td>
</tr>
<tr>
  <td>Florian Kirmaier (<a href="https://github.com/FlorianKirmaier">@FlorianKirmaier</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">63.00 USD</td>
</tr>
<tr>
  <td>Tymoteusz Czech (<a href="https://github.com/Tymek">@Tymek</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">62.33 USD</td>
</tr>
<tr>
  <td>Jonathan Barrios (<a href="https://github.com/jeb2239">@jeb2239</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">60.00 USD</td>
</tr>
<tr>
  <td>nan (<a href="https://github.com/poetaman">@poetaman</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">59.07 USD</td>
</tr>
<tr>
  <td>Noah Huber-Feely</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">57.00 USD</td>
</tr>
<tr>
  <td>Saul Gutierrez</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">56.00 USD</td>
</tr>
<tr>
  <td>Martin (<a href="https://github.com/guest-cf5e5bf5">@guest-cf5e5bf5</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">50.00 USD</td>
</tr>
<tr>
  <td>Joshua Parrish (<a href="https://github.com/joshua-parrish">@joshua-parrish</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">50.00 USD</td>
</tr>
<tr>
  <td>Joe Torreggiani (<a href="https://github.com/jtorreggiani">@jtorreggiani</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">50.00 USD</td>
</tr>
<tr>
  <td>Tim Hårek (<a href="https://github.com/timharek">@timharek</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">50.00 USD</td>
</tr>
<tr>
  <td>Chad Thackray (<a href="https://github.com/ChadThackray">@ChadThackray</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">48.00 USD</td>
</tr>
<tr>
  <td>Rafael Savvides</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">46.00 USD</td>
</tr>
<tr>
  <td>Jacob Phillips (<a href="https://github.com/jifalops">@jifalops</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">42.00 USD</td>
</tr>
<tr>
  <td>Emmanuel Arvanitis</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">42.00 USD</td>
</tr>
<tr>
  <td>Mao (<a href="https://github.com/mao">@mao</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">40.00 USD</td>
</tr>
<tr>
  <td>Benjamin Wasty</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">39.00 USD</td>
</tr>
<tr>
  <td>Tymoteusz Czech (<a href="https://github.com/Tymek">@Tymek</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">38.13 USD</td>
</tr>
<tr>
  <td>Tyler Guillen</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">38.00 USD</td>
</tr>
<tr>
  <td>anonymous (<a href="https://github.com/anonymous821">@anonymous821</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">35.00 USD</td>
</tr>
<tr>
  <td>Zack Polizzi</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">35.00 USD</td>
</tr>
<tr>
  <td>Nick Jones</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">35.00 USD</td>
</tr>
<tr>
  <td>Arian Wichmann</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">30.97 USD</td>
</tr>
<tr>
  <td>Robert Duncan (<a href="https://github.com/robproject">@robproject</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Yegor ❤️ (<a href="https://github.com/yzevm">@yzevm</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Abimael (<a href="https://github.com/abimael">@abimael</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Hugo Braun</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Erik Granlund</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Jacob Karlsson</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">30.00 USD</td>
</tr>
<tr>
  <td>Simone Scanzoni</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">29.76 USD</td>
</tr>
<tr>
  <td>Mbwanga Sambata</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">29.00 USD</td>
</tr>
<tr>
  <td>Carlos Garcia (<a href="https://github.com/carlisgg">@carlisgg</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">27.00 USD</td>
</tr>
<tr>
  <td>A. J. Giurato</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">27.00 USD</td>
</tr>
<tr>
  <td>TimeWalker</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">26.00 USD</td>
</tr>
<tr>
  <td>Jared Wolff (<a href="https://github.com/jaredwolff">@jaredwolff</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">25.68 USD</td>
</tr>
<tr>
  <td>Ian Watts (<a href="https://github.com/ianwatts22">@ianwatts22</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">24.00 USD</td>
</tr>
<tr>
  <td>Dmitrii Bykov (<a href="https://github.com/sukazavr">@sukazavr</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">24.00 USD</td>
</tr>
<tr>
  <td>Pulkit Sood</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">23.00 USD</td>
</tr>
<tr>
  <td>Chuh'tra (<a href="https://github.com/chuhtra">@chuhtra</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">21.50 USD</td>
</tr>
<tr>
  <td>Ralter</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">21.00 USD</td>
</tr>
<tr>
  <td>msmart</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">21.00 USD</td>
</tr>
<tr>
  <td>Lezgin Bakircioglu (<a href="https://github.com/lerra">@lerra</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Guest (<a href="https://github.com/guest-ef77f11b">@guest-ef77f11b</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Tadeu (<a href="https://github.com/guest-e09c4c1e">@guest-e09c4c1e</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Helder S Ribeiro (<a href="https://github.com/agentofuser">@agentofuser</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Yannick (<a href="https://github.com/guest-5094c1d2">@guest-5094c1d2</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>DRIBD@ (<a href="https://github.com/dribdatcoop">@dribdatcoop</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>T.Miyajima (<a href="https://github.com/t-miyajima">@t-miyajima</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Nathan Lafferty</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Van0SS</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Aych Arr</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">20.00 USD</td>
</tr>
<tr>
  <td>Filipe Martins</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">19.00 USD</td>
</tr>
<tr>
  <td>Michael Staub</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">19.00 USD</td>
</tr>
<tr>
  <td>Moritz</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">18.96 USD</td>
</tr>
<tr>
  <td>nan (<a href="https://github.com/ixiion001">@ixiion001</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">18.00 USD</td>
</tr>
<tr>
  <td>Patrick (<a href="https://github.com/PatrickTCB">@PatrickTCB</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">18.00 USD</td>
</tr>
<tr>
  <td>Emanuel Gawrieh (<a href="https://github.com/gitemanuel">@gitemanuel</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">16.74 USD</td>
</tr>
<tr>
  <td>Simon Kern (<a href="https://github.com/skjerns">@skjerns</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">16.35 USD</td>
</tr>
<tr>
  <td>Adam Kostarelas (<a href="https://github.com/AdamXweb">@AdamXweb</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">15.20 USD</td>
</tr>
<tr>
  <td>Jixun K. Ding (<a href="https://github.com/katherineding">@katherineding</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">15.00 USD</td>
</tr>
<tr>
  <td>Henry Shin</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">15.00 USD</td>
</tr>
<tr>
  <td>Koen Habets</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">15.00 USD</td>
</tr>
<tr>
  <td>KlonAmy</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">14.67 USD</td>
</tr>
<tr>
  <td>Slava N</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">14.00 USD</td>
</tr>
<tr>
  <td>Justyn Butler (<a href="https://github.com/justyn">@justyn</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">13.71 USD</td>
</tr>
<tr>
  <td>Manuel Ramsaier Engineering</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">13.00 USD</td>
</tr>
<tr>
  <td>Mihir Chaturvedi (<a href="https://github.com/plibither8">@plibither8</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">12.00 USD</td>
</tr>
<tr>
  <td>Joel Poxton</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">12.00 USD</td>
</tr>
<tr>
  <td>Holly A.</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">12.00 USD</td>
</tr>
<tr>
  <td>Carlos Garcia</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">12.00 USD</td>
</tr>
<tr>
  <td>Marcus Grant</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">12.00 USD</td>
</tr>
<tr>
  <td>Hubertus</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">11.26 USD</td>
</tr>
<tr>
  <td>Cyborg Ex Machina</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">11.19 USD</td>
</tr>
<tr>
  <td>Danny Hines (<a href="https://github.com/dannyhines">@dannyhines</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
<tr>
  <td>Mariusz Listewnik (<a href="https://github.com/list4c">@list4c</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
<tr>
  <td>dylan (<a href="https://github.com/dylan-sessler">@dylan-sessler</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
<tr>
  <td>Alex King (<a href="https://github.com/alex-king1">@alex-king1</a>)</td>
  <td style="text-align:center;">✔️</td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
<tr>
  <td>Jonathan Bean (<a href="https://github.com/jonathan-bean">@jonathan-bean</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
<tr>
  <td>Private Person (<a href="https://github.com/private-person">@private-person</a>)</td>
  <td style="text-align:center;"></td>
  <td style="text-align:right;">10.00 USD</td>
</tr>
</tbody>
</table>
