<table class="dataframe table table-sm">
  <thead>
    <tr style="text-align: left;">
      <th>User</th>
      <th>Issues</th>
      <th>Comments</th>
      <th>PRs</th>
      <th>PRs Merged</th>
      <th>PR Comments</th>
      <th>Active Days</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/ErikBjare">ErikBjare</a></td>
      <td>379</td>
      <td>3222</td>
      <td>592</td>
      <td>773</td>
      <td>520</td>
      <td>1258</td>
      <td>5486</td>
    </tr>
    <tr>
      <td><a href="https://github.com/johan-bjareholt">johan-bjareholt</a></td>
      <td>77</td>
      <td>1446</td>
      <td>216</td>
      <td>475</td>
      <td>203</td>
      <td>713</td>
      <td>2417</td>
    </tr>
    <tr>
      <td><a href="https://github.com/xylix">xylix</a></td>
      <td>11</td>
      <td>188</td>
      <td>35</td>
      <td>44</td>
      <td>23</td>
      <td>81</td>
      <td>301</td>
    </tr>
    <tr>
      <td><a href="https://github.com/iloveitaly">iloveitaly</a></td>
      <td>7</td>
      <td>80</td>
      <td>38</td>
      <td>35</td>
      <td>29</td>
      <td>78</td>
      <td>189</td>
    </tr>
    <tr>
      <td><a href="https://github.com/BelKed">BelKed</a></td>
      <td>18</td>
      <td>131</td>
      <td>14</td>
      <td>7</td>
      <td>14</td>
      <td>105</td>
      <td>184</td>
    </tr>
    <tr>
      <td><a href="https://github.com/brayo-pip">brayo-pip</a></td>
      <td>6</td>
      <td>78</td>
      <td>34</td>
      <td>37</td>
      <td>20</td>
      <td>63</td>
      <td>175</td>
    </tr>
    <tr>
      <td><a href="https://github.com/nicolae-stroncea">nicolae-stroncea</a></td>
      <td>30</td>
      <td>113</td>
      <td>12</td>
      <td>6</td>
      <td>5</td>
      <td>54</td>
      <td>166</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Otto-AA">Otto-AA</a></td>
      <td>13</td>
      <td>66</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>42</td>
      <td>110</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Alwinator">Alwinator</a></td>
      <td>12</td>
      <td>64</td>
      <td>9</td>
      <td>9</td>
      <td>6</td>
      <td>43</td>
      <td>100</td>
    </tr>
    <tr>
      <td><a href="https://github.com/nikanar">nikanar</a></td>
      <td>15</td>
      <td>55</td>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>31</td>
      <td>86</td>
    </tr>
    <tr>
      <td><a href="https://github.com/ShootingKing-AM">ShootingKing-AM</a></td>
      <td>2</td>
      <td>33</td>
      <td>17</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>78</td>
    </tr>
    <tr>
      <td><a href="https://github.com/codecov-io">codecov-io</a></td>
      <td>0</td>
      <td>52</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>47</td>
      <td>52</td>
    </tr>
    <tr>
      <td><a href="https://github.com/ghost">ghost</a></td>
      <td>14</td>
      <td>33</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>31</td>
      <td>50</td>
    </tr>
    <tr>
      <td><a href="https://github.com/billangli">billangli</a></td>
      <td>0</td>
      <td>23</td>
      <td>5</td>
      <td>12</td>
      <td>4</td>
      <td>26</td>
      <td>44</td>
    </tr>
    <tr>
      <td><a href="https://github.com/NicoWeio">NicoWeio</a></td>
      <td>7</td>
      <td>11</td>
      <td>9</td>
      <td>3</td>
      <td>7</td>
      <td>24</td>
      <td>37</td>
    </tr>
    <tr>
      <td><a href="https://github.com/dufferzafar">dufferzafar</a></td>
      <td>9</td>
      <td>24</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>13</td>
      <td>35</td>
    </tr>
    <tr>
      <td><a href="https://github.com/2e3s">2e3s</a></td>
      <td>0</td>
      <td>16</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>24</td>
      <td>34</td>
    </tr>
    <tr>
      <td><a href="https://github.com/kovasap">kovasap</a></td>
      <td>8</td>
      <td>24</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>23</td>
      <td>33</td>
    </tr>
    <tr>
      <td><a href="https://github.com/rtpHarry">rtpHarry</a></td>
      <td>8</td>
      <td>25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>22</td>
      <td>33</td>
    </tr>
    <tr>
      <td><a href="https://github.com/8bitgentleman">8bitgentleman</a></td>
      <td>9</td>
      <td>24</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>33</td>
    </tr>
    <tr>
      <td><a href="https://github.com/rakleed">rakleed</a></td>
      <td>14</td>
      <td>13</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>26</td>
      <td>31</td>
    </tr>
    <tr>
      <td><a href="https://github.com/ahnlabb">ahnlabb</a></td>
      <td>0</td>
      <td>9</td>
      <td>2</td>
      <td>13</td>
      <td>2</td>
      <td>6</td>
      <td>26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/kewde">kewde</a></td>
      <td>1</td>
      <td>16</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>25</td>
    </tr>
    <tr>
      <td><a href="https://github.com/OlivierMary">OlivierMary</a></td>
      <td>2</td>
      <td>16</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>5</td>
      <td>24</td>
    </tr>
    <tr>
      <td><a href="https://github.com/pcuci">pcuci</a></td>
      <td>6</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>22</td>
    </tr>
    <tr>
      <td><a href="https://github.com/milomg">milomg</a></td>
      <td>1</td>
      <td>7</td>
      <td>1</td>
      <td>11</td>
      <td>1</td>
      <td>9</td>
      <td>21</td>
    </tr>
    <tr>
      <td><a href="https://github.com/watertrainer">watertrainer</a></td>
      <td>9</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>20</td>
    </tr>
    <tr>
      <td><a href="https://github.com/huantianad">huantianad</a></td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>9</td>
      <td>20</td>
    </tr>
    <tr>
      <td><a href="https://github.com/exoji2e">exoji2e</a></td>
      <td>3</td>
      <td>11</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>20</td>
    </tr>
    <tr>
      <td><a href="https://github.com/qcol">qcol</a></td>
      <td>4</td>
      <td>13</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>13</td>
      <td>19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/skewballfox">skewballfox</a></td>
      <td>4</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/cunidev">cunidev</a></td>
      <td>2</td>
      <td>9</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/lundibundi">lundibundi</a></td>
      <td>2</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>5</td>
      <td>19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/rathishkumar">rathishkumar</a></td>
      <td>1</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/pktiuk">pktiuk</a></td>
      <td>0</td>
      <td>13</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>11</td>
      <td>18</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Saghen">Saghen</a></td>
      <td>0</td>
      <td>9</td>
      <td>2</td>
      <td>6</td>
      <td>1</td>
      <td>9</td>
      <td>18</td>
    </tr>
    <tr>
      <td><a href="https://github.com/yratof">yratof</a></td>
      <td>7</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>17</td>
    </tr>
    <tr>
      <td><a href="https://github.com/FilipHarald">FilipHarald</a></td>
      <td>0</td>
      <td>12</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <td><a href="https://github.com/BeatLink">BeatLink</a></td>
      <td>2</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/flexagoon">flexagoon</a></td>
      <td>2</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>9</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/brunoparga">brunoparga</a></td>
      <td>0</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>7</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/ianobermiller">ianobermiller</a></td>
      <td>1</td>
      <td>7</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/michaeljelly">michaeljelly</a></td>
      <td>0</td>
      <td>8</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/VictorWinberg">VictorWinberg</a></td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>1</td>
      <td>14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/PetbkA">PetbkA</a></td>
      <td>6</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Mte90">Mte90</a></td>
      <td>2</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>8</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/wojnilowicz">wojnilowicz</a></td>
      <td>2</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>8</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/JFMugen">JFMugen</a></td>
      <td>2</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Morpheus0x">Morpheus0x</a></td>
      <td>2</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>6</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/vedantmgoyal9">vedantmgoyal9</a></td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/alerque">alerque</a></td>
      <td>1</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>5</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/tmotyl">tmotyl</a></td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/ArchaeotheriumSapienter">ArchaeotheriumSapienter</a></td>
      <td>0</td>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>2</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/schackbrian2012">schackbrian2012</a></td>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/alexriabtsev">alexriabtsev</a></td>
      <td>2</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/soxofaan">soxofaan</a></td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/iconma">iconma</a></td>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/devzsolt">devzsolt</a></td>
      <td>2</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/leoschwarz">leoschwarz</a></td>
      <td>1</td>
      <td>6</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/shri120kant">shri120kant</a></td>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/the-architech">the-architech</a></td>
      <td>3</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>11</td>
    </tr>
    <tr>
      <td><a href="https://github.com/jantman">jantman</a></td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>11</td>
    </tr>
    <tr>
      <td><a href="https://github.com/theguybieber">theguybieber</a></td>
      <td>5</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>11</td>
    </tr>
  </tbody>
</table>